
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  gap: 257px;
  margin-top: 4px;
  margin-left: 1vw;
  position: fixed;
  width: 98%;
  height: 76px;
  top: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-nav-bg {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5.5px); /* Glassy blur effect */
  border-radius: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.main-nav.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.main-nav.visible {
  opacity: 1;
  transform: translateY(0);
}


.vector-1 {
  position: absolute;
  left: 15.51%;
  right: 11.67%;
  top: 12.04%;
  bottom: 0;
  background: #ffffff;
}

.vector-2 {
  position: absolute;
  left: 0%;
  right: 20.42%;
  top: 2.57%;
  bottom: 0;
  background: #ffffff;
}

.vector-3 {
  position: absolute;
  left: 66.06%;
  right: -0.07%;
  top: 0;
  bottom: 48%;
  background: #ffffff;
}

/* Nav */
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
  margin: 0 auto;
  width: 306px;
  height: 14px;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.about {
  width: 41px;
  height: 14px;
}

.process {
  width: 54px;
  height: 14px;
}

.explore {
  width: 51px;
  height: 14px;
}


.startGroup {
  margin: 0 auto;
  width: 0px;
  height: 30px;
  flex: none;
  order: 2;
  flex-grow: 0;
  display: flex; 
  gap: 10px; 
  justify-content: center; 
  margin: 0 auto;
}


.group {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
}

/* Additional Vectors */
.vector-4 {
  position: absolute;
  left: 22.92%;
  right: 22.92%;
  top: 22.92%;
  bottom: 16.66%;
  background: #ffffff;
}

.vector-5 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #ffffff;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .main-nav {
    padding: 20px;
    gap: 10vw;
    width: 90vw;
  }

  .nav {
    gap: 20px; /* Reduced gap for mobile */
    width: auto; /* Full width on mobile */
    justify-content: space-between; /* Maintain horizontal layout */
  }

  .nav-link {
    font-size: 12px; 
    line-height: 120%; 
  }

  .wandermate-logo,
  .user-profile {
    width: 24px; 
    height: 24px;
  }

  .vector-1,
  .vector-2,
  .vector-3,
  .vector-4,
  .vector-5 {
  
    position: relative;
    width: 100%;
    height: auto;
  }
}
